
Entrega_1/.DS_Store
Entrega_2/Codigo/.DS_Store
Presentacion_2/.DS_Store
Entrega_2/RiquelmeS202073615/Codigo/src/.DS_Store
Entrega_2/RiquelmeS202073615/Codigo/.DS_Store
Entrega_2/RiquelmeS202073615/.DS_Store
Entrega_2/images/.DS_Store
Entrega_2/Codigo/src/.DS_Store
.DS_Store
